# Set the default behavior, in case people don’t have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ts text eol=lf
