.widget-background {
  background-color: var(--background-secondary);
}

.widget-button {
  padding: 3px 4px;
  margin: 3px;
  background-color: Transparent;
}

.widget-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-muted);
}

.widget-icon:hover {
  fill: var(--text-normal);
}

.widget-button-close {
  position: absolute;
  right: 0;
  top: 0;
}

.widget-icon-close {
  width: 15px;
  height: 15px;
}

.advanced-tables-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.advanced-tables-donate-button {
  margin: 10px;
}
